
<div class="hero">
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Explore the seven seas</h1>
    <br />
    <h2>Find a trip for yourself!</h2>
    <br />
    <%= link_to 'Search', '#', class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <h3>Fishing<br /><%= image_tag("fishing.jpg",size: "300x200")%></h3>
  </div>

  <div class="col-sm-4">
    <h3>Yachting<br /><%= image_tag("yachting.jpg",size: "300x200")%></h3>
  </div>

  <div class="col-sm-4">
    <h3>Diving<br /><%= image_tag("diving.jpg",size: "300x200")%></h3>
  </div>
</div>